.items{
    width: 500px;
    height: 500px;
    overflow: auto;
    margin: auto;
}


.items::-webkit-scrollbar{
    width: 0.7rem;
}

.items::-webkit-scrollbar-track{
    background-color:transparent;
}

.items::-webkit-scrollbar-thumb{
    background-color: rgb(206, 206, 206);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 100vw;
}
