.Container{
    display: flex;
    width: 100%;
    min-height: 84.5vh;
    gap: 2rem;
}

.Products{
    flex: 1 1 80%;
}

.Filters{
    flex: 1 1 15rem;
}

.Products__Items{
    margin: 1rem;
    display: grid;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    gap: 2rem 2.5rem;
}

