.DeleteAccount{
  margin: 1rem;
}

.DeleteAccount > div{
  margin: 1rem;
}

.DeleteAccount__ButtonDiv{
  text-align: right;
}


.DeleteAccount__Warning{
  display: block;
  width: 25rem;
  text-align: justify;
  color: red;
  margin: 1rem;
}

