/* Block__Element--Modifier
  block-name__elem-name_mod-name_mod-val */

.ProfileInformation{

}

.ProfileInformation__UserImage{
  border: 5px solid rgb(95, 95, 95);
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.UserImage__Label{
  display: inline-block;
  text-align: center;
  height: 1.8rem;
  padding: 5px;
  width: 10rem;
  background-color: rgb(24, 24, 24);
  color: white;
  border-radius: 0.4rem;

}

input:disabled+label:hover{
  cursor: not-allowed;
}
.UserImage__Label:hover{
cursor: pointer;
}

.UserImage__Input{
  display: none;
}

.ProfileInformation__name{
  display: flex;
}
.ProfileInformation__name div:nth-child(2){
  margin: 0rem 3rem;
}

.ProfileInformation > div{
  margin: 1rem;
}

.ProfileInformation__ButtonDiv{
  text-align: right;
}

