.Container{
  min-height: 85vh;
  box-shadow: 0rem 0rem 1rem rgb(190, 190, 190);
  padding: 1rem;
}

.Message{
  color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}