.Container{
  min-height: 85vh;
  box-shadow: 0rem 0rem 1rem rgb(190, 190, 190);
  padding: 1rem;
}


.Wrapper{
  width: 100%;
  box-shadow: 0rem 0rem 1rem rgb(190, 190, 190);
  height: 18rem;
  border-radius: 0.5rem;
  margin: 1rem 0rem;
  display: flex;
}

.ButtonWrapper{
  padding: 1rem;
  float: right;
}
