.Item{
  display: flex;
  max-height: 9rem;
  margin: 1rem 0rem;
  box-shadow: 0rem 0rem 1rem rgb(220, 220, 220);
  padding: 1rem;
  margin: 0.8rem 0rem;
  cursor: pointer;
}

.Item__element{
  flex-grow: 1;
  flex-basis: 10%;
}

.Item__Image{
  width: 5rem;
  height: 6rem;
}

.Item__Title{
 margin: 0rem 2rem;
}

.Item__Date{
  text-align: center;
}

.Item__element > p{
  margin: 2%;
}

.Subtitle{
  font-weight: bold;
}