.count{
    font-weight: bold;
    margin-right: 10px;
    font-size: 20px;
}

.btn{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    border-radius: 15px;
    transition: all 0.2s;
}

.cartIcon{
    font-size: large;
}

.btn:hover{
    transform: scale(1.05);
    cursor: pointer;
}