
.Navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0rem 2rem;
    gap: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0rem 0rem 1rem rgb(193, 193, 193);
}

.Title{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.TabContainer{
    flex: 1 1 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
}
.Tab__Inactive{
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.Tab_Active{
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: underline;
}

.SearchbarContainer{
    flex: 1 1 0;
    display: flex;
    height: 50%;
}

.SearchInput{
    flex: 1 1 0;
    height: 100%;
    padding: 0rem 0.5rem;
    font-size: 1rem;
}

.SearchButton{
    height: 100%;
    border-radius: 0rem;
}

.UserIcon{
    cursor: pointer;
    font-size: 2.5rem;
}

.ButtonContainer{
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}


.Button{
    background-color: white;
    color: rgb(0, 0, 0);
}
.Button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}