.Container{
  /* border: 2px solid red; */
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Details__Company{
  color: rgb(141, 141, 141);
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.Details__Title{
  font-size: 1.2rem;
  font-weight: bold;
}

.Details__Price{
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(69, 69, 69);
}

.Details__AvgRating{
  display: inline-block;
  font-weight: bold;
  background-color: black;
  color: white;
  width: 4rem;
  text-align: center;
  height: 1.3rem;
  border-radius: 0.2rem;
}

.Details__AvgRating span{
  margin: 0rem 0.4rem;
}

.Details__RatingQuatity{
  display: inline-block;
  margin: 0rem 1rem;
  color: rgb(109, 109, 109);
  font-weight: 700;
}


.Selection h4{
  color: rgb(95, 95, 95);
  font-weight: bold;
} 

.RadioButtonWrapper > input{
  display: none;
}


.RadioButtonWrapper > label {
  line-height: 1.2rem;
  cursor: pointer;
  display: inline-block;
  border: 0.13rem solid rgb(180, 180, 180);
  color: rgb(180, 180, 180);
  margin:0.5rem 0rem;
  margin-right: 1rem;
  width: 4rem;
  text-align: center;
}

.RadioButtonWrapper > label:hover{
  border: 0.13rem solid rgb(0, 0, 0);
  color:black;
}

.RadioButtonWrapper > input:checked + label{
  border: 0.13rem solid rgb(0, 0, 0);
  color: white;
  background-color: black;
}

.Product__Description h4{
  color: rgb(95, 95, 95);
  margin: 0.5rem 0rem;
}

.Product__Description_Text{
  text-align:justify ;
  overflow: auto;
}

.Product__Description_Text::-webkit-scrollbar{
  width: 0.7rem;
}

.Product__Description_Text::-webkit-scrollbar-track{
  background-color:transparent;
}

.Product__Description_Text::-webkit-scrollbar-thumb{
  background-color: rgb(206, 206, 206);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 100vw;
}


.Button{
  cursor: pointer;
  width: 100%;
  height: 40px;
  background: #252525;
  color: white;
}

.Button:hover{
  background-color: rgb(215, 214, 214);
  color: rgb(0, 0, 0);
}