.Wrapper{
  box-shadow: 0rem 0rem 1rem rgb(220, 220, 220);
  padding: 1rem;
  margin: 0.8rem 0rem;
}

.Container{
  margin: 0.5rem 1rem;
  display: flex;
}

.Review__Detail{
  margin:0rem 0.5rem;
  flex-grow: 1;
}

.Review__Detail > div{
  margin: 0.5rem
}

.Product__Image{
  width: 4.5rem;
  height: 6rem;
  margin: 1rem;
}


.Review__Review{
  height: 3.6rem;
  text-align: justify;
  overflow: auto;
  padding: 0rem 0.3rem;
}

.Review__Review_NoReview{
  color: rgb(132, 132, 132);
}

.Review__Review::-webkit-scrollbar{
  width: 0.5rem;
}
.Review__Review::-webkit-scrollbar-track{
  background-color: transparent;
}

.Review__Review::-webkit-scrollbar-thumb{
  border-radius: 0.5rem;
  background-color: transparent;
}
.Review__Review:hover::-webkit-scrollbar-thumb{
  background-color: rgb(152, 152, 152);
}

.ButtonWrapper{
  text-align: right;
  display: flex;
  gap:1rem;
  justify-content: flex-end;
}