.Button{
  min-width: 100px;
  height: 2rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0rem 0.5rem;
}

.Button:hover{
  cursor: pointer;
  color: rgb(190, 190, 190);
}
