.Wrapper__Bullets{
  margin: 0.5rem 0rem;
}

.Bullets{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
}

.Bullets__Bullet{
  font-size: 2rem;
  font-weight: bold;
  color: rgb(212, 212, 212);
}

.Bullets__Bullet:hover{
  cursor: pointer;
}

.Bullets__Bullet_Selected{
  color: rgb(97, 97, 97);
}