.Container{
  width: 25rem;
}

.Container .Input{
  margin: 10px 0px;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(200, 200, 200);
  width: 100%;
}

.Container .Label{
  display: block;
  width: 100%;
}

.Container input:disabled{
  cursor:not-allowed;
}
